.contact-panel {
    width: 1195px;
    margin-left: 20px;
}
.task-panel {
    width: 800px;
}
.panel-title {
    text-align: center;
    font-size: 35px;
    color: #3d3d3d;
}
select, .file {
    cursor: pointer;
}
.contact-delete-buttons {
    margin-top: 35px;
}
#delete-file-list {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
textarea {
    resize: none;
}
.select-time {
    overflow: auto;
}
.period-type-group, .task-period-time-group {
    padding-right: 0;
}
.task-period-time-group, .task-period-date-group {
    padding-left: 0;
}

